footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-size: 14px;
  color: #555;
}
p{
  margin-top: 10px;
  margin-bottom: 10px;
}