.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* background: #ffffff; */
  background: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  z-index: 999;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #4C4CFF;
}
.logos{
  width: 70px;
  height: 70px;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  /* font-size: 18px; */
  font-size: 22px;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #4C4CFF;
}
