<div class="home-container">
  <img src="assets\Dpicture.png" class="profile-img">

  <h1>Hi! I'm <span>Deepika Selvaraj</span></h1>

  <h3>Full-Stack Developer | Angular | Java | SQL</h3>

  <p class="tagline">
    I build modern, scalable, and user-friendly applications with clean UI and efficient backend logic.
  </p>

  <p class="about-info">
    I am a passionate Full-Stack Developer with experience working on real-time applications,
    ERP systems, and data-driven solutions. I enjoy turning ideas into working products using
    clean code, structured logic, and modern web technologies.
  </p>
</div>
