.home-container {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 40px;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

h1 span {
  color: #4C4CFF;
}

.tagline {
  font-size: 18px;
  margin-top: 10px;
  color: #444;
}

.about-info {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 20px;
  line-height: 1.7;
  font-size: 17px;
  color: #555;
}
